#knowledgeDetail,#con_ProviewArea,#con_nonParticipleArea {
	font-size: 14px;
	letter-spacing: 2px;
	line-height: 30px;
	padding: 0 20px;
	outline: none;
}
#knowledgeDetail .word_title+div,#con_ProviewArea .word_title+div,#con_nonParticipleArea .word_title+div{
	white-space: pre-wrap;
}
#con_nonParticipleArea .word-token-editer-a-click{
	background-color:#ccc;
}
.word_title{
	font-size: 14px;
	margin-top:20px;
	font-weight: bold; 
}

.word-token-editer-div {
	outline: none;
}
.main .hide{
	display: none !important;
}
.word-token-editer-a {
	color: #00F;
	/* text-decoration: underline; */
	margin: 0px 2px;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.word-token-editer-a-disabled {
	color: #aaa;
}
/* 疾病颜色 */
 .jbmc{color:#e66000;} 
/* 指标 */
 .jymc{color:#ae21d9;}
/* 药品 */

 .ypmc_zn,
 .ypmc_qt,
 .ypmc{color:#0ad00a;}

#con_nonParticipleArea .aunderline{
	text-decoration: underline;
}
#con_nonParticipleArea .spanstylecss{
	text-decoration: none;
}
#con_nonParticipleArea span{
	cursor: pointer;
}
#con_nonParticipleArea img{
	cursor: pointer;
}
#knowledgeDetail{
	color:#333;
}
#knowledgeDetail span,
#con_ProviewArea span
{color:#333;}

/* 预览 */
#knowledgeDetail a,
#con_ProviewArea a{
	color: #00F !important;
	text-decoration: underline !important;
}
